<body>
    <div class="manage">
        <div class="jumbotron">
            <h1>Welcome</h1>
            <p>Hello Dashboard</p>
            <p>
                <a class="btn btn-lg btn-primary" href="/home/profile" title="">Profile View >></a>
            </p>
        </div>

    </div>
    <div>
        <div class="row">
            <% for(var i=0;i < result.length;i++){ %>
                <div class="card col-md-2" style="height: 30rem; width: 18rem; margin:10px 10px 5px 60px">

                    <h4>
                        <%=result[i].title%>
                    </h4>
                    <h6>
                        <%=result[i].sub_title%>
                    </h6>
                    <div class="card-body">
                        <p class="card-text">
                            <%=result[i].blog_txt%>
                                <br>
                        </p>
                    </div>
                </div>
                <%}%>


        </div>
    </div>

    </div>
</body>